  <!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Photo Review</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"  
    href="../../css/review-css.css" th:href="@{/css/review-css.css}" /></head>
    <body>

      <header><h1> Grey World - Photo Reviews</h1></header>
      
      <div>
        <h3>Select an image or Title to read a detailed review</h3>

        <div th:each="aSingleReview : ${repositoryOfReviews}">
         <div class = "row">
          <div><a th:href="@{/review?(id=${aSingleReview.id})}"><h3 th:text="${aSingleReview.title}"></h3></a></div>
          <div><p th:text="${aSingleReview.synopsis}"></p></div>
          <div><a th:href="@{/review?(id=${aSingleReview.id})}"><img th:src="${aSingleReview.imgURL}" style="width:260px;height:130px" /></a></div>

        </div>
      </div>
    </div>
    
  </body>
  </html>

