<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Photo Review</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all"  
	href="../../css/review-css.css" th:href="@{/css/review-css.css}" />

</head>
<body>

	<header><h1> Photo Review</h1></header>

	<div class = "row">
		<h3></h3>
		<div><h1 th:text="${repositoryOfReviews.title}"></h1></div>
		<!-- <div><h3 th:text="${repositoryOfReviews.categoryTitle}"></h3></div> old method of getting the category name -->
			<div><h3 th:text="${repositoryOfReviews.category.title}"></h3></div><!-- new method of getting the category name -->
		<div><p th:text="${repositoryOfReviews.synopsis}"></p></div>
		<div><img th:src="${repositoryOfReviews.imgURL}" /></div>
		<div><img th:text="${repositoryOfReviews.description}" /></div>
		


	</div>


</body>
</html>

   